h3 {
  color: darkblue;
}

.white-text {
  color: white;
}

.container {
  /*margin-top: 30px;*/
  /*232 Example App  Backend Setup*/
  margin-top: 50px;
}

p {
  color: blue;
}

/*083 ngClass and ngStyle Recap*/
.odd {
  color: red;
}
