<!--006 Editing the First App-->
<!--<h1>{{title}}</h1>-->
<!--<input type="text" [(ngModel)]="name">-->
<!--<p>{{name}}</p>-->

<!--013 How an Angular App gets Loaded and Started-->
<!--<h3>I'm in the AppComponent!</h3>-->

<!--017 Using Custom Components-->
<!--<h3>I'm in the AppComponent!</h3>-->
<!--<hr>-->
<!--<app-server></app-server>-->

<!--018 Creating Components with the CLI Nesting Components-->
<!--<h3>I'm in the AppComponent!</h3>-->
<!--<hr>-->
<!--<app-servers></app-servers>-->

<!--020 Working with Component Styles-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<h3>I'm in the AppComponent!</h3>-->
<!--<hr>-->
<!--<app-servers></app-servers>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--021 Fully Understanding the Component Selector-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<h3>I'm in the AppComponent!</h3>-->
<!--<hr>-->
<!--Now angular selects the element by it's name-->
<!--<app-servers></app-servers>-->

<!--Now angular selects the element by attribute-->
<!--<div app-servers></div>-->

<!-- Now angular selects the element by class -->
<!--<div class="app-servers"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--038 Getting the Index when using ngFor-->
<!--Exercise-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<ol>-->
<!--<li>Add a button which says 'Display Details'</li>-->
<!--<li>-->
<!--Add a paragraph with any content of your choice (e.g.-->
<!--'Secret Password = tuna')-->
<!--</li>-->
<!--<li>-->
<!--Toggle the displaying of that paragraph with the button-->
<!--created in the first step-->
<!--</li>-->
<!--<li>-->
<!--Log all button clicks in an array and output that array-->
<!--below the secret paragraph (maybe log a timestamp or-->
<!--simply an increment number)-->
<!--</li>-->
<!--<li>-->
<!--Starting at the 5th log item, give all future log items a-->
<!--blue background (via ngStyle) and white color (ngClass)-->
<!--</li>-->
<!--</ol>-->
<!--<hr>-->
<!--<button class="btn btn-primary"-->
<!--(click)="showSecret = !showSecret">Display Details-->
<!--</button>-->
<!--<button class="btn btn-primary"-->
<!--(click)="onToggleDetails()">Display Details-->
<!--</button>-->
<!--<p *ngIf="showSecret">Secret Password = tuna</p>-->

<!--For log an increment number-->
<!--<div *ngFor="let logItem of log"-->
<!--[ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}"-->
<!--[ngClass]="{'white-text': logItem >= 5}">-->
<!--{{logItem}}-->
<!--</div>-->

<!--For log a timestamp-->
<!--Extracting the index of ngFor-->
<!--<div *ngFor="let logItem of log; let i = index"-->
<!--[ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"-->
<!--[ngClass]="{'white-text': i >= 4}">-->
<!--{{logItem}}-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--055 Understanding Angular Error Messages-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<h2>My Servers</h2>-->
<!--<button class="btn btn-primary"-->
<!--(click)="onAddServer()">Add Server-->
<!--</button>-->
<!--<br><br>-->
<!--<ul class="list-group">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let server of servers; let i = index"-->
<!--(click)="onRemoveServer(i)">{{server}}-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--058 Module Introduction-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<p>Add new Servers or blueprints!</p>-->
<!--<label>Server Name</label>-->
<!--<input type="text" class="form-control"-->
<!--[(ngModel)]="newServerName">-->
<!--<label>Server Content</label>-->
<!--<input type="text" class="form-control"-->
<!--[(ngModel)]="newServerContent">-->
<!--<br>-->
<!--<button class="btn btn-primary"-->
<!--(click)="onAddServer()">Add Server-->
<!--</button>-->
<!--<button class="btn btn-primary"-->
<!--(click)="onAddBlueprint()">Add Server Blueprint-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<div class="panel panel-default"-->
<!--*ngFor="let element of serverElements">-->
<!--<div class="panel-heading">{{element.name}}</div>-->
<!--<div class="panel-body">-->
<!--<p>-->
<!--<strong *ngIf="element.type === 'server'"-->
<!--style="color: red">-->
<!--{{element.content}}</strong>-->
<!--<em *ngIf="element.type === 'blueprint'">-->
<!--{{element.content}}</em>-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--059 Splitting Apps into Components-->
<!--<div class="container">-->
<!--<app-cockpit></app-cockpit>-->
<!--<hr>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<app-server-element-->
<!--*ngFor="let serverElement of serverElements">-->
<!--</app-server-element>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--061 Binding to Custom Properties-->
<!--<div class="container">-->
<!--<app-cockpit></app-cockpit>-->
<!--<hr>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<app-server-element-->
<!--*ngFor="let serverElement of serverElements"-->
<!--[element]="serverElement">-->
<!--</app-server-element>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--062 Assigning an Alias to Custom Properties-->
<!--<div class="container">-->
<!--<app-cockpit></app-cockpit>-->
<!--<hr>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<app-server-element-->
<!--*ngFor="let serverElement of serverElements"-->
<!--[srvElement]="serverElement">-->
<!--</app-server-element>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--063 Binding to Custom Events-->
<!--<div class="container">-->
<!--<app-cockpit-->
<!--(serverCreated)="onServerAdded($event)"-->
<!--(blueprintCreated)="onBlueprintAdded($event)">-->
<!--</app-cockpit>-->
<!--<hr>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<app-server-element-->
<!--*ngFor="let serverElement of serverElements"-->
<!--[srvElement]="serverElement">-->
<!--</app-server-element>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--064 Assigning an Alias to Custom Events-->
<!--<div class="container">-->
<!--<app-cockpit-->
<!--(serverCreated)="onServerAdded($event)"-->
<!--(bpCreated)="onBlueprintAdded($event)">-->
<!--</app-cockpit>-->
<!--<hr>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<app-server-element-->
<!--*ngFor="let serverElement of serverElements"-->
<!--[srvElement]="serverElement">-->
<!--</app-server-element>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--070 Projecting Content into Components with ng-content-->
<!--Pass data/content from the .html file of a component, between the opening and closing tag of the same component (in the parent app.component.html file).-->
<!--Everything we placed between the opening and closing tag of our own component is lost by default, it simply remove from the DOM.-->
<!--<div class="container">-->
<!--<app-cockpit-->
<!--(serverCreated)="onServerAdded($event)"-->
<!--(bpCreated)="onBlueprintAdded($event)">-->
<!--</app-cockpit>-->
<!--<hr>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<app-server-element-->
<!--*ngFor="let serverElement of serverElements"-->
<!--[srvElement]="serverElement">-->
<!--<p>-->
<!--<strong *ngIf="serverElement.type === 'server'"-->
<!--style="color: red">-->
<!--{{serverElement.content}}</strong>-->
<!--<em *ngIf="serverElement.type === 'blueprint'">-->
<!--{{serverElement.content}}</em>-->
<!--</p>-->
<!--</app-server-element>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--072 Seeing Lifecycle Hooks in Action-->
<!--To see that ngOnChanges (in the server-element.component.ts) actually gets fired more than once we add the button below.-->
<!--We also binding to a primitive type "name" ([name]="serverElement.name") so we can see when ngOnChanges gets fired, and not in the object "srvElement" like before. Because with the object (which are reference types), ngOnChanges will not get fired. Because if we change the name there in that object, it still reference to that same object in memory, which eventually means that the value of that property (the object "srvElement" with @Input) didn't change).-->
<!--<div class="container">-->
<!--<app-cockpit-->
<!--(serverCreated)="onServerAdded($event)"-->
<!--(bpCreated)="onBlueprintAdded($event)">-->
<!--</app-cockpit>-->
<!--<hr>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<button class="btn btn-primary"-->
<!--(click)="onChangeFirst()">Change first Element-->
<!--</button>-->
<!--<button class="btn btn-danger"-->
<!--(click)="onDestroyFirst()">Destroy first Component-->
<!--</button>-->
<!--<app-server-element-->
<!--*ngFor="let serverElement of serverElements"-->
<!--[name]="serverElement.name">-->
<!--<p>-->
<!--<strong *ngIf="serverElement.type === 'server'"-->
<!--style="color: red">-->
<!--{{serverElement.content}}</strong>-->
<!--<em *ngIf="serverElement.type === 'blueprint'">-->
<!--{{serverElement.content}}</em>-->
<!--</p>-->
<!--</app-server-element>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--074 Getting Access to ng-content with ContentChild-->
<!--<div class="container">-->
<!--<app-cockpit-->
<!--(serverCreated)="onServerAdded($event)"-->
<!--(bpCreated)="onBlueprintAdded($event)">-->
<!--</app-cockpit>-->
<!--<hr>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<button class="btn btn-primary"-->
<!--(click)="onChangeFirst()">Change first Element-->
<!--</button>-->
<!--<button class="btn btn-danger"-->
<!--(click)="onDestroyFirst()">Destroy first Component-->
<!--</button>-->
<!--<app-server-element-->
<!--*ngFor="let serverElement of serverElements"-->
<!--[name]="serverElement.name">-->
<!--<p #contentParagraph>-->
<!--<strong *ngIf="serverElement.type === 'server'"-->
<!--style="color: red">-->
<!--{{serverElement.content}}</strong>-->
<!--<em *ngIf="serverElement.type === 'blueprint'">-->
<!--{{serverElement.content}}</em>-->
<!--</p>-->
<!--</app-server-element>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--081 Module Introduction-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<button class="btn btn-primary"-->
<!--(click)="onlyOdd = !onlyOdd">Only show odd numbers-->
<!--</button>-->
<!--<br><br>-->
<!--<ul class="list-group">-->
<!--<li class="list-group-item"></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--082 ngFor and ngIf Recap-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<button class="btn btn-primary"-->
<!--(click)="onlyOdd = !onlyOdd">Only show odd numbers-->
<!--</button>-->
<!--<br><br>-->
<!--<ul class="list-group">-->
<!--<div *ngIf="onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let odd of oddNumbers">{{odd}}-->
<!--</li>-->
<!--</div>-->
<!--<div *ngIf="!onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let even of evenNumbers">{{even}}-->
<!--</li>-->
<!--</div>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--083 ngClass and ngStyle Recap-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<button class="btn btn-primary"-->
<!--(click)="onlyOdd = !onlyOdd">Only show odd numbers-->
<!--</button>-->
<!--<br><br>-->
<!--<ul class="list-group">-->
<!--<div *ngIf="onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let odd of oddNumbers"-->
<!--[ngClass]="{odd: odd % 2 !== 0}"-->
<!--[ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}">{{odd}}-->
<!--</li>-->
<!--</div>-->
<!--<div *ngIf="!onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let even of evenNumbers"-->
<!--[ngClass]="{odd: even % 2 !== 0 }"-->
<!--[ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}">{{even}}-->
<!--</li>-->
<!--</div>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--084 Creating a Basic Attribute Directive-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<button class="btn btn-primary"-->
<!--(click)="onlyOdd = !onlyOdd">Only show odd numbers-->
<!--</button>-->
<!--<br><br>-->
<!--<ul class="list-group">-->
<!--<div *ngIf="onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let odd of oddNumbers"-->
<!--[ngClass]="{odd: odd % 2 !== 0}"-->
<!--[ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}">{{odd}}-->
<!--</li>-->
<!--</div>-->
<!--<div *ngIf="!onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let even of evenNumbers"-->
<!--[ngClass]="{odd: even % 2 !== 0 }"-->
<!--[ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}">{{even}}-->
<!--</li>-->
<!--</div>-->
<!--</ul>-->
<!--<p appBasicHighlight>Style me with basic directive!</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--085 Using the Renderer to build a Better Attribute Directive-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<button class="btn btn-primary"-->
<!--(click)="onlyOdd = !onlyOdd">Only show odd numbers-->
<!--</button>-->
<!--<br><br>-->
<!--<ul class="list-group">-->
<!--<div *ngIf="onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let odd of oddNumbers"-->
<!--[ngClass]="{odd: odd % 2 !== 0}"-->
<!--[ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}">{{odd}}-->
<!--</li>-->
<!--</div>-->
<!--<div *ngIf="!onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let even of evenNumbers"-->
<!--[ngClass]="{odd: even % 2 !== 0 }"-->
<!--[ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}">{{even}}-->
<!--</li>-->
<!--</div>-->
<!--</ul>-->
<!--<p appBasicHighlight>Style me with basic directive!</p>-->
<!--<p appBetterHighlight>Style me with a better directive!</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--089 Binding to Directive Properties-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<button class="btn btn-primary"-->
<!--(click)="onlyOdd = !onlyOdd">Only show odd numbers-->
<!--</button>-->
<!--<br><br>-->
<!--<ul class="list-group">-->
<!--<div *ngIf="onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let odd of oddNumbers"-->
<!--[ngClass]="{odd: odd % 2 !== 0}"-->
<!--[ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}">{{odd}}-->
<!--</li>-->
<!--</div>-->
<!--<div *ngIf="!onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let even of evenNumbers"-->
<!--[ngClass]="{odd: even % 2 !== 0 }"-->
<!--[ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}">{{even}}-->
<!--</li>-->
<!--</div>-->
<!--</ul>-->
<!--<p appBasicHighlight>Style me with basic directive!</p>-->
<!--<p appBetterHighlight-->
<!--[defaultColor]="'yellow'"-->
<!--[highlightColor]="'red'">Style me with a better directive!-->
<!--</p>-->
<!--&lt;!&ndash;Alias&ndash;&gt;-->
<!--<p [appBetterHighlight]="'red'"-->
<!--[defaultColor]="'yellow'">Style me with a better directive!-->
<!--</p>-->
<!--&lt;!&ndash;Shortcut, if we only passing down a string. We can add Property-Binding without square brackets and also omit the single quotation marks of the string between the double quotation marks.&ndash;&gt;-->
<!--<p appBetterHighlight-->
<!--defaultColor="yellow"-->
<!--highlightColor="red">Style me with a better directive!-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--090 What Happens behind the Scenes on Structural Directives-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<button class="btn btn-primary"-->
<!--(click)="onlyOdd = !onlyOdd">Only show odd numbers-->
<!--</button>-->
<!--<br><br>-->
<!--<ul class="list-group">-->
<!--<div *ngIf="onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let odd of oddNumbers"-->
<!--[ngClass]="{odd: odd % 2 !== 0}"-->
<!--[ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}">{{odd}}-->
<!--</li>-->
<!--</div>-->
<!--<div *ngIf="!onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let even of evenNumbers"-->
<!--[ngClass]="{odd: even % 2 !== 0 }"-->
<!--[ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}">{{even}}-->
<!--</li>-->
<!--</div>-->
<!--<ng-template [ngIf]="!onlyOdd">-->
<!--<div>-->
<!--<li class="list-group-item"-->
<!--*ngFor="let even of evenNumbers"-->
<!--[ngClass]="{odd: even % 2 !== 0 }"-->
<!--[ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}">{{even}}-->
<!--</li>-->
<!--</div>-->
<!--</ng-template>-->
<!--</ul>-->
<!--<p appBasicHighlight>Style me with basic directive!</p>-->
<!--<p appBetterHighlight-->
<!--[defaultColor]="'yellow'"-->
<!--[highlightColor]="'red'">Style me with a better directive!-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--091 Building a Structural Directive-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<button class="btn btn-primary"-->
<!--(click)="onlyOdd = !onlyOdd">Only show odd numbers-->
<!--</button>-->
<!--<br><br>-->
<!--<ul class="list-group">-->
<!--<div *ngIf="onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let odd of oddNumbers"-->
<!--[ngClass]="{odd: odd % 2 !== 0}"-->
<!--[ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}">{{odd}}-->
<!--</li>-->
<!--</div>-->
<!--<div *appUnless="onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let even of evenNumbers"-->
<!--[ngClass]="{odd: even % 2 !== 0 }"-->
<!--[ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}">{{even}}-->
<!--</li>-->
<!--</div>-->
<!--</ul>-->
<!--<p appBasicHighlight>Style me with basic directive!</p>-->
<!--<p appBetterHighlight-->
<!--[defaultColor]="'yellow'"-->
<!--[highlightColor]="'red'">Style me with a better directive!-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--092 Understanding ngSwitch-->
<!--If we want to create a lot of ngIf condition, ngSwitch might be the better solution.-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<button class="btn btn-primary"-->
<!--(click)="onlyOdd = !onlyOdd">Only show odd numbers-->
<!--</button>-->
<!--<br><br>-->
<!--<ul class="list-group">-->
<!--<div *ngIf="onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let odd of oddNumbers"-->
<!--[ngClass]="{odd: odd % 2 !== 0}"-->
<!--[ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}">{{odd}}-->
<!--</li>-->
<!--</div>-->
<!--<div *appUnless="onlyOdd">-->
<!--<li class="list-group-item"-->
<!--*ngFor="let even of evenNumbers"-->
<!--[ngClass]="{odd: even % 2 !== 0 }"-->
<!--[ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}">{{even}}-->
<!--</li>-->
<!--</div>-->
<!--</ul>-->
<!--<p appBasicHighlight>Style me with basic directive!</p>-->
<!--<p appBetterHighlight-->
<!--[defaultColor]="'yellow'"-->
<!--[highlightColor]="'red'">Style me with a better directive!-->
<!--</p>-->
<!--<div [ngSwitch]="value">-->
<!--<p *ngSwitchCase="5">Value is 5</p>-->
<!--<p *ngSwitchCase="10">Value is 10</p>-->
<!--<p *ngSwitchCase="100">Value is 100</p>-->
<!--<p *ngSwitchDefault>Value is Default</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--095 Why would you Need Services-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-md-8 col-md-offset-2">-->
<!--<app-new-account-->
<!--(accountAdded)="onAccountAdded($event)"></app-new-account>-->
<!--<hr>-->
<!--<app-account-->
<!--*ngFor="let acc of accounts; let i = index"-->
<!--[account]="acc" [id]="i"-->
<!--(statusChanged)="onStatusChanged($event)"></app-account>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--098 Creating a Data Service-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-md-8 col-md-offset-2">-->
<!--<app-new-account></app-new-account>-->
<!--<hr>-->
<!--<app-account-->
<!--*ngFor="let acc of accounts; let i = index"-->
<!--[account]="acc" [id]="i"></app-account>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--112 Why do we need a Router-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--<ul class="nav nav-tabs">-->
<!--<li role="presentation" class="active">-->
<!--<a href="#">Home</a>-->
<!--</li>-->
<!--<li role="presentation"><a href="#">Servers</a></li>-->
<!--<li role="presentation"><a href="#">Users</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--<app-home></app-home>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--<app-users></app-users>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--<app-servers></app-servers>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--114 Setting up and Loading Routes-->
<!--We add a special directive `router-outlet`, that simple marks the place in our document where we want the angular router to load the component of the currently selected route.-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--<ul class="nav nav-tabs">-->
<!--<li role="presentation" class="active">-->
<!--<a href="#">Home</a>-->
<!--</li>-->
<!--<li role="presentation"><a href="#">Servers</a></li>-->
<!--<li role="presentation"><a href="#">Users</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--115 Navigating with Router Links-->
<!--We don't use the attribute `href` from the `a` tag, because it's reloading/refresh the app, and we don't want that in angular.-->
<!--We use a special directive `routerLink`.-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--<ul class="nav nav-tabs">-->
<!--<li role="presentation" class="active">-->
<!--<a routerLink="/">Home</a>-->
<!--</li>-->
<!--<li role="presentation">-->
<!--<a routerLink="/servers">Servers</a>-->
<!--</li>-->
<!--<li role="presentation">-->
<!--<a [routerLink]="['/users']">Users</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--116 Understanding Navigation Paths-->
<!--It still works without the slash `/`.-->
<!--We can use relative paths (`./servers` and `servers`) here in the root AppComponent.-->
<!--ABSOLUTE PATHS: `/users` => always get appended to the root domain `http://localhost:4200/`-->
<!--RELATIVE PATHS: `users` or `./users` => added to the currently loaded path-->
<!--`../users` => go back one path, `../../users` => go back another path, always seen from the currently loaded component on-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--<ul class="nav nav-tabs">-->
<!--<li role="presentation" class="active">-->
<!--<a routerLink="/">Home</a>-->
<!--</li>-->
<!--<li role="presentation">-->
<!--<a routerLink="servers">Servers</a>-->
<!--</li>-->
<!--<li role="presentation">-->
<!--<a [routerLink]="['users']">Users</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--117 Styling Active Router Links-->
<!--We use a specific directive `routerLinkActive`, and we set it equal to the `active` bootstrap class (or whatever `myactiveclass` we want to use).-->
<!--We always have this `http://localhost:4200/empty` path before the `/`(for Home) and `/servers` and `/users` paths. So the empty path segment is part of all paths. Still we don't want to have Home being mark as active all the time. To fix this we can add some configuration to this routerLinkActive directive `routerLinkActiveOptions`.-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--<ul class="nav nav-tabs">-->
<!--<li role="presentation" routerLinkActive="active"-->
<!--[routerLinkActiveOptions]="{exact: true}">-->
<!--<a routerLink="/">Home</a>-->
<!--</li>-->
<!--<li role="presentation" routerLinkActive="active">-->
<!--<a routerLink="servers">Servers</a>-->
<!--</li>-->
<!--<li role="presentation" routerLinkActive="active">-->
<!--<a [routerLink]="['users']">Users</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--157 Module Introduction-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--<a routerLink="/">Home</a>-->
<!--<a [routerLink]="['user', 1]">User 1</a>-->
<!--<a [routerLink]="['user', 2]">User 2</a>-->
<!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--163 Using Subjects to Pass AND Listen to Data-->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <a routerLink="/">Home</a>
      <a [routerLink]="['user', 1]">
        User 1 {{user1Activated ? '(activated)' : ''}}
      </a>
      <a [routerLink]="['user', 2]">
        User 2 {{user2Activated ? '(activated)' : ''}}
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
