<!--<p>-->
<!--home works!-->
<!--</p>-->

<!--112 Why do we need a Router-->
<!--<h4>Welcome to Server Manager 4.0</h4>-->
<!--<p>Manage your Servers and Users.</p>-->

<!--118 Navigating Programmatically-->
<!--<h4>Welcome to Server Manager 4.0</h4>-->
<!--<p>Manage your Servers and Users.</p>-->
<!--<button class="btn btn-primary"-->
<!--(click)="onLoadServers()">Load Servers-->
<!--</button>-->

<!--124 Passing Query Parameters and Fragments-->
<!--We do the same programmatically.-->
<!--<h4>Welcome to Server Manager 4.0</h4>-->
<!--<p>Manage your Servers and Users.</p>-->
<!--<button class="btn btn-primary"-->
<!--(click)="onLoadServer(1)">Load Server 1-->
<!--</button>-->

<!--136 Using a Fake Auth Service-->
<!--<h4>Welcome to Server Manager 4.0</h4>-->
<!--<p>Manage your Servers and Users.</p>-->
<!--<button class="btn btn-primary"-->
<!--(click)="onLoadServer(1)">Load Server 1-->
<!--</button>-->
<!--<button class="btn btn-default" (click)="onLogin()">Login</button>-->
<!--<button class="btn btn-default" (click)="onLogout()">Logout</button>-->

<!--157 Module Introduction-->
<h3>Yay, I'm home!</h3>
